<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>comment delete modal</title>
</head>
<body>
  <section id="comment_delete_modal_section">
    <div id="comment__delete__modal" class="sub__modal__form">
      <div class="submit__modal__form__container">
        <div class="submit__modal__form__header">
          <p class="modal-title">댓글 삭제</p>
        </div>
        <div class="modal-text">
          <p>정말로 삭제하시겠습니까?</p>
        </div>
        <div class ="submit__modal__form__detail__inputs">
          <div id="comment__delete__modal__form__password__input">
            <label for="comment__delete__password">비밀번호</label>
            <input type="password" name="password" id="comment__delete__password" class="pretty__input" placeholder="비밀번호를 입력해주세요">
          </div>
        </div>
        <div class="submit__modal__form__buttons">
          <button id="comment_delete_modal_delete_btn" type="button">삭제</button>
          <button id="comment_delete_modal_cancel_btn" type="button" onclick="dismissCommentDeleteModal()">취소</button>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
