<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>detail article modify modal</title>
</head>
<body>
<section id="detail_article_modify_modal_section">
  <div class="sub__modal__form" id="modify__modal__form">
    <div class="submit__modal__form__container">
      <div class="submit__modal__form__header" id="modify__modal__form__header">
        <p>사진 수정</p>
      </div>
      <div class="submit__modal__form__container" id="modify__modal__form__container">
        <div class="submit__modal__form__body" id="modify__modal__form__body">
          <form action="/modify" enctype="multipart/form-data" id="modify__form" method="post">
            <div class="submit__modal__form__image__input" id="modify__modal__form__image__input">
              <label class="custom-file-upload submit__modal__form__image__input__label" for="file-modify"
                     id="modify__modal__form__image__input__label">
                <img alt="아바타" id="modify__image" src="/images/image-file.svg">
              </label>
              <input accept="image/*" id="file-modify" name="photo" style="display: none;" type="file">
            </div>
            <div class="submit__modal__form__detail__inputs" id="modify__modal__form__detail__inputs">
              <div id="modify__modal__form__nickname__input">
                <label for="detail__article__modify__nickname">닉네임</label>
                <input class="pretty__input" id="detail__article__modify__nickname" name="nickname" placeholder="닉네임을 입력해주세요"
                       type="text">
              </div>
              <div id="modify__modal__form__password__input">
                <label for="detail__article__modify__password">비밀번호</label>
                <input class="pretty__input" id="detail__article__modify__password" name="password" placeholder="비밀번호를 입력해주세요"
                       type="password">
              </div>
              <div id="modify__modal__form__caption__input">
                <label for="detail__article__modify__caption">본문</label>
                <textarea class="pretty__input" id="detail__article__modify__caption" name="caption"
                          placeholder="본문을 입력해주세요"></textarea>
              </div>
              <div id="radio__modify__type__image__type">
                <div id="radio__modify__type__sejong">
                  <input checked id="modify__type__sejong" name="image__type" type="radio" value="SEJONG">
                  <label for="modify__type__sejong">세종</label>
                </div>
                <div id="radio__modify__type__seoul">
                  <input id="modify__type__seoul" name="image__type" type="radio" value="SEOUL">
                  <label for="modify__type__seoul">서울</label>
                </div>
                <div id="radio__modify__type__out__of__campus">
                  <input id="modify__type__out__of__campus" name="image__type" type="radio" value="OOC">
                  <label for="modify__type__out__of__campus">캠퍼스 외</label>
                </div>
              </div>
              <div id="modify__modal__form__hashtags__input">
                <label for="detail__article__modify__hashtags">해시태그</label>
                <input class="pretty__input" id="detail__article__modify__hashtags" name="hashtags" placeholder="해시태그를 입력해주세요"
                       type="text">
              </div>
            </div>
            <div class="submit__modal__form__buttons" id="modify__modal__form__buttons">
              <div id="modify__modal__form__submit__btn">
                <button type="submit">수정</button>
              </div>
              <div id="modify__modal__form__quit__btn">
                <button onclick="dismissDetailArticleModifyModal()" type="button">취소</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
