<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>article container</title>
</head>
<body>
  <div id="article__container">
    <article id="article1" onclick="presentDetailArticleModal()">
      <div class="article__img">
        <img src="/imgs/test-1.jpg" alt="테스트 이미지 1">
      </div>
      <div class="article__info">
        <div class="horizontal__info">
          <div class="heart__and__comment left__component">
            <div class="heart__component">
              <div class="heart__icon">
                <img src="/imgs/heart-regular.svg" alt="좋아요 버튼 이미지">
              </div>
              <p>13</p>
            </div>
            <div class="comment__component">
              <div class="comment__icon">
                <img src="/imgs/comment-regular.svg" alt="댓글 버튼 이미지">
              </div>
              <p>5</p>
            </div>
          </div>
          <div class="article__author right__component">
            <h1>익명의 호랭이 xyz 님</h1>
          </div>
        </div>
        <div class="horizontal__info">
          <div class="article__hashtag left__component">
            <p>#바닷가</p>
            <p>#광안리 아님</p>
          </div>
          <div class="article__caption right__component">
            <p>바닷가 가고 싶어 ! 근데 ! 집에서 나가긴 싫어 !</p>
          </div>
        </div>
      </div>
    </article>
    <article onclick="presentDetailArticleModal()">
      <div class="article__img">
        <img src="/imgs/test-2.jpg" alt="테스트 이미지 2">
      </div>
      <div class="article__info">
        <div class="horizontal__info">
          <div class="heart__and__comment left__component">
            <div class="heart__component">
              <div class="heart__icon">
                <img src="/imgs/heart-regular.svg" alt="좋아요 버튼 이미지">
              </div>
              <p>13</p>
            </div>
            <div class="comment__component">
              <div class="comment__icon">
                <img src="/imgs/comment-regular.svg" alt="댓글 버튼 이미지">
              </div>
              <p>5</p>
            </div>
          </div>
          <div class="article__author right__component">
            <h1>익명의 호랭이 xyz 님</h1>
          </div>
        </div>
        <div class="horizontal__info">
          <div class="article__hashtag left__component">
            <p>#바닷가</p>
            <p>#광안리 아님</p>
          </div>
          <div class="article__caption right__component">
            <p>바닷가 가고 싶어 ! 근데 ! 집에서 나가긴 싫어 !</p>
          </div>
        </div>
      </div>
    </article>
    <article onclick="presentDetailArticleModal()">
      <div class="article__img">
        <img src="/imgs/test-3.jpg" alt="테스트 이미지 3">
      </div>
      <div class="article__info">
        <div class="horizontal__info">
          <div class="heart__and__comment left__component">
            <div class="heart__component">
              <div class="heart__icon">
                <img src="/imgs/heart-regular.svg" alt="좋아요 버튼 이미지">
              </div>
              <p>13</p>
            </div>
            <div class="comment__component">
              <div class="comment__icon">
                <img src="/imgs/comment-regular.svg" alt="댓글 버튼 이미지">
              </div>
              <p>5</p>
            </div>
          </div>
          <div class="article__author right__component">
            <h1>익명의 호랭이 xyz 님</h1>
          </div>
        </div>
        <div class="horizontal__info">
          <div class="article__hashtag left__component">
            <p>#바닷가</p>
            <p>#광안리 아님</p>
          </div>
          <div class="article__caption right__component">
            <p>바닷가 가고 싶어 ! 근데 ! 집에서 나가긴 싫어 !</p>
          </div>
        </div>
      </div>
    </article>
    <article onclick="presentDetailArticleModal()">
      <div class="article__img">
        <img src="/imgs/test-4.jpg" alt="테스트 이미지 4">
      </div>
      <div class="article__info">
        <div class="horizontal__info">
          <div class="heart__and__comment left__component">
            <div class="heart__component">
              <div class="heart__icon">
                <img src="/imgs/heart-regular.svg" alt="좋아요 버튼 이미지">
              </div>
              <p>13</p>
            </div>
            <div class="comment__component">
              <div class="comment__icon">
                <img src="/imgs/comment-regular.svg" alt="댓글 버튼 이미지">
              </div>
              <p>5</p>
            </div>
          </div>
          <div class="article__author right__component">
            <h1>익명의 호랭이 xyz 님</h1>
          </div>
        </div>
        <div class="horizontal__info">
          <div class="article__hashtag left__component">
            <p>#바닷가</p>
            <p>#광안리 아님</p>
          </div>
          <div class="article__caption right__component">
            <p>바닷가 가고 싶어 ! 근데 ! 집에서 나가긴 싫어 !</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</body>
</html>
