<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>header navbar</title>
</head>
<body>
<header id="header__nav">
  <div id="logo__container">
    <div id="logo__img"><img alt="main logo" src="/imgs/main-logo.png"></div>
    <div id="logo__string">
      <ul>
        <li><h1>korea univ.</h1></li>
        <li><h1>picture</h1></li>
        <li><h1>archive</h1></li>
      </ul>
    </div>
  </div>
  <div id="navbar__menu">
    <a id="navbar__toggleBtn">
      <img alt="navbar menu" src="/imgs/icon-bars.svg">
    </a>
  </div>
</header>
</body>
</html>
