<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>kupica</title>
  <link rel="stylesheet" href="/css/main-style.css">
  <link rel="stylesheet" href="/css/modal-style.css">
  <link rel="stylesheet" href="/css/header-navbar-style.css">
  <link rel="stylesheet" href="/css/sidebar-style.css">
  <link rel="stylesheet" href="/css/slideshow-style.css">
  <link rel="stylesheet" href="/css/detail-article-modal-style.css">
  <link rel="stylesheet" href="/css/second-navbar.css">
  <link rel="stylesheet" href="/css/article-style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <script src="/js/SidebarBtn.js" defer></script>
  <script src="/js/SlideShow.js" defer></script>
  <script src="/js/ModalFormBtn.js" defer></script>
  <script src="/js/DetailArticleModalFormBtn.js" defer></script>
  <script src="/js/ScrollToTopBtn.js" defer></script>
  <script src="/js/UploadModalFunc.js" defer></script>
</head>
<body id="main__page">
  <header id="empty__header__nav">
    헤더 삽입부
  </header>
  <div id="empty__side__menu__bar">
    사이드바 삽입부
  </div>
  <div>
    <section id="empty__slideshow__section">
      슬라이드쇼 삽입부
    </section>
    <section id="empty__upload__modal__section">
      업로드 모달 삽입부
    </section>
    <section id="empty__detail__article__modal__section">
      상세 사진글 모달 삽입부
    </section>
    <section>
      <nav id="empty__second__navbar">
        두 번째 네비게이션바 삽입부
      </nav>
      <div id="empty__article__container">
        사진글 컨테이너 삽입부
      </div>
    </section>    
  </div>
  <section>
    <div id="upload__btn__container" onclick="presentUploadModal()">
      <a id="upload__btn" href="#">
        <img src="/imgs/plus.svg" alt="업로드 모달 표현 버튼 이미지">
      </a>
    </div>
  </section>
  <section id="empty__detail__article__modify__modal__section">
    상세 사진글 수정 모달 삽입부
  </section>
  <section id="empty__detail__article__delete__modal__section">
    상세 사진글 삭제 모달 삽입부
  </section>
  <section id="empty__comment__modify__modal__section">
    댓글 수정 모달 삽입부
  </section>
  <section id="empty__comment__delete__modal__section">
    댓글 삭제 모달 삽입부
  </section>
</body>
</html>
