<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta id="csrf__token" name="_csrf"/>
  <meta id="csrf__header" name="_csrf_header">
  <title>kupica</title>
  <link href="/css/main-style.css" rel="stylesheet">
  <link href="/css/modal-style.css" rel="stylesheet">
  <link href="/css/header-navbar-style.css" rel="stylesheet">
  <link href="/css/sidebar-style.css" rel="stylesheet">
  <link href="/css/slideshow-style.css" rel="stylesheet">
  <link href="/css/detail-article-modal-style.css" rel="stylesheet">
  <link href="/css/second-navbar.css" rel="stylesheet">
  <link href="/css/article-style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet">
  <script defer src="/js/SidebarBtn.js"></script>
  <script defer src="/js/SlideShow.js"></script>
  <script defer src="/js/ModalFormBtn.js"></script>
  <script defer src="/js/DetailArticleModalFormBtn.js"></script>
  <script defer src="/js/ScrollToTopBtn.js"></script>
  <script defer src="/js/UploadModalFunc.js"></script>
  <script defer src="/js/LogoutRequestApi.js"></script>
</head>
<body id="main__page">
<header id="empty__header__nav">
  헤더 삽입부
</header>
<div id="empty__side__menu__bar">
  사이드바 삽입부
</div>
<div>
  <section id="empty__slideshow__section">
    슬라이드쇼 삽입부
  </section>
  <section id="empty__upload__modal__section">
    업로드 모달 삽입부
  </section>
  <section id="empty__detail__article__modal__section">
    상세 사진글 모달 삽입부
  </section>
  <section>
    <nav id="empty__second__navbar">
      두 번째 네비게이션바 삽입부
    </nav>
    <div id="empty__article__container">
      사진글 컨테이너 삽입부
    </div>
  </section>
</div>
<section>
  <div id="upload__btn__container" onclick="presentUploadModal()">
    <a href="#" id="upload__btn">
      <img alt="업로드 모달 표현 버튼 이미지" src="/images/plus.svg">
    </a>
  </div>
</section>
<section id="empty__detail__article__modify__modal__section">
  상세 사진글 수정 모달 삽입부
</section>
<section id="empty__detail__article__delete__modal__section">
  상세 사진글 삭제 모달 삽입부
</section>
<section id="empty__comment__modify__modal__section">
  댓글 수정 모달 삽입부
</section>
<section id="empty__comment__delete__modal__section">
  댓글 삭제 모달 삽입부
</section>
</body>
</html>
