<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>second navbar</title>
</head>
<body>
<nav id="second__navbar">
  <div id="left__icons">
    <div id="top__scroll__btn">
      <img alt="최상단 이동 버튼" src="/imgs/caret-up.svg">
    </div>
    <div id="ordering__selector">
      <select id="ordering__select" name="order__type">
        <option value="create_desc">최근 순서</option>
        <option value="create_aes">오래된 순서</option>
        <option value="greater_popular">인기 많은 순서</option>
        <option value="lesser_popular">인기 적은 순서</option>
      </select>
    </div>
  </div>
  <div id="second__navbar__search">
    <div>
      <input id="second__navbar__search__input" placeholder="태그 검색" type="text">
    </div>
    <div>
      <button id="second__navbar__search__btn" type="submit"><img src="/imgs/search.svg"></button>
    </div>
  </div>
</nav>
</body>
</html>
