<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>sidebar</title>
</head>
<body>
  <div id="sidebar__menu" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="menu__components">
      <div class="login__info">
        <div class="login__info__img">
          <img src="/imgs/user-img.svg" alt="회원 이미지">
        </div>
        <a class="login__info__name"><p>민둥산 호랑이</p></a>
        <a class="login__info__string">
          <p>로그인이 필요합니다</p>
        </a>
      </div>
      <a class="menu__component" href="#">로그인</a>
      <a class="menu__component" href="#">회원가입</a>
      <a class="menu__component" href="#">로그아웃</a>
    </div>
  </div>
</body>
</html>
