<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>sidebar</title>
</head>
<body>
<div class="sidebar" id="sidebar__menu">
  <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
  <div id="menu__components">
    <div class="login__info">
      <div class="login__info__img">
        <img alt="회원 이미지" src="/images/user-img.svg">
      </div>
      <a class="login__info__name"><p>민둥산 호랑이</p></a>
      <a class="login__info__string">
        <p>로그인이 필요합니다</p>
      </a>
    </div>
    <a id="login__btn" class="menu__component" href="/login">로그인</a>
    <a id="sign__up__btn" class="menu__component" href="/login">회원가입</a>
    <a id="logout__btn" class="menu__component">로그아웃</a>
  </div>
</div>
</body>
</html>
