<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>slideshow</title>
</head>
<body>
  <section id="slideshow_section">
    <div class="main__slideshow__container">
      <div class="mySlides fade" onclick="presentDetailArticleModal()">
        <img src="/imgs/test-1.jpg" alt="테스트 이미지1">
      </div>
      <div class="mySlides fade" onclick="presentDetailArticleModal()">
        <img src="/imgs/test-2.jpg" alt="테스트 이미지2">
      </div>
      <div class="mySlides fade" onclick="presentDetailArticleModal()">
        <img src="/imgs/test-3.jpg" alt="테스트 이미지3">
      </div>
      <div class="mySlides fade" onclick="presentDetailArticleModal()">
        <img src="/imgs/test-4.jpg" alt="테스트 이미지4">
      </div>
      <div class="slideshow__dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
      <a class="prev" onclick="plusSlides(-1)"><img class="slideshow__direction" src="/imgs/chevron-left.svg"></a>
      <a class="next" onclick="plusSlides(1)"><img class="slideshow__direction" src="/imgs/chevron-right.svg"></a>
    </div>
  </section>
</body>
</html>
