button {
  border: none;
}

#detail__article__modal__header {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#detail__article__modal__close__btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#detail__article__close__btn__logo {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#detail__article__modal__content__img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

#detail__article__side__info__container > div {
  padding: 3px 20px;
}

#interactive__btn__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#left__interactive__btn__container {
  display: flex;
  align-items: center;
}

#modify__delete__container {
  margin-left: 10px;
}

#like__comment__container {
  display: flex;
  align-items: center;
}

#like__comment__container img {
  width: 1.6rem;
  height: 1.6rem;
}

#like__info__container {
  display: flex;
  align-items: center;
}

#like__info__container p {
  margin-left: 10px;
}

#comment__info__container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#comment__info__container p {
  margin-left: 10px;
}

#right__interactive__btn__container {
  display: flex;
  align-items: center;
}

#download__container {
  display: flex;
  align-items: center;
}

#detail__article__modal__content__download__btn__logo {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 10px;
}

#nickname__download__frequency__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nickname__container p {
  font-weight: bold;
  font-size: 1.0rem;
}

#download__frequency__container p {
  font-size: 0.8rem;
}

#caption__container p {
  font-size: 0.8rem;
}

#hashtag__container p {
  color: var(--blue-color);
  font-size: 0.6rem;
}

#comment__container {
  margin-top: 20px;
}

#comment__border__line {
  position: relative;
  border-top: var(--black-color) 1px solid;
}

#comment__boarder__line__text {
  position: relative;
  background-color: var(--white-color);
  left: 47%;
  top: -11px;
  width: 10%;
  text-align: center;
  font-size: 0.8rem;
}

#comment__boarder__line__text::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: black;
}

.comment__format {
  margin: 1.5% 0;
}

.comment__format p {
  padding: 0.3em 0.5em;
}

.comment__nickname {
  font-weight: bold;
  font-size: 0.8rem;
}

.comment__content {
  font-size: 0.8rem;
}

.comment__date {
  font-size: 0.6rem;
}

.comment__sub__btn {
  display: flex;
  justify-content: flex-start;
}

.comment__sub__btn button {
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 0.6rem;
  box-sizing: content-box;
  min-width: auto;
  white-space: nowrap;
}

.comment__sub__modify__delete__container {
  display: flex;
  align-items: center;
}

.replied__comment {
  margin-left: 20px;
}

.comment__interactive__btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comment__input__container {
  border-radius: 5%;
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0 auto;
  background-color: var(--grey-light-color);
}

#comment__input__container input {
  width: 100%;
}

#nickname__password__input__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

#comment__input__container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  resize: none;
  background-color: var(--grey-light-color);
}

#detail__article__modal__content__comment__submit__btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  right: -43%;
}

#detail__article__modal__content__comment__submit__btn img {
  width: 1.2rem;
  height: 1.2rem;
}
