:root {
  /* Color */
  --white-color: #f0f0f0;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --grey-darker-color: #707070;
  --charcoal-color: #333333;
  --input-highlight-color: #007bff;

  /* Size */
  --side-padding: 12px;
  --side-margin: 8px;
  --avatar-size: 48px;
  --logo-size: 36px;
  --icon-size: 24px;

  /* Font Size */
  --font-large: 2.0rem;
  --font-medium: 1.8rem;
  --font-small: 1.5rem;
  --font-micro: 1.3rem;
}

/* The Modal (background) */
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  overflow: auto;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
}

.sub__modal__form {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  max-height: 600px;
  overflow: auto;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
}

/* Upload Modal */
.submit__modal__form {
  background-color: var(--grey-light-color);
}

.submit__modal__form__header {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  font-size: var(--font-small);
}

.submit__modal__form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.submit__modal__form__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100% 
}

.submit__modal__form__body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}

.submit__modal__form__image__input {
  display: flex;
  justify-content: center;
}

.submit__modal__form__image__input__label {
  border: dashed 6px var(--black-color);
  border-radius: 5%;
  display: block;
  padding: 32px 32px;
  width: 80%;
  text-align: center;
  background-size: cover; 
  background-position: center;
  cursor: pointer; 
}

.submit__modal__form__image__input__label label {
  text-align: center;
}

.submit__modal__form__image__input img {
  width: 50%;
  height: 100%;
}

.pretty__input {
  border: none; 
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
  background-color: transparent;
}

.pretty__input:focus {
  border-bottom: 2px solid var(--input-highlight-color); 
}

.submit__modal__form__detail__inputs {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit__modal__form__detail__inputs > div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px 0;
}

.submit__modal__form__buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 10%;
}

.submit__modal__form__buttons button {
  font-size: var(--font-small);
}

.modal__text {
  font-size: var(--font-small);
  margin: 5% 0;
}

.light__grey__light__background {
  background-color: var(--grey-light-color);
}

.no__scroll {
  overflow-y: hidden;
}

.scrollable {
  overflow-y: auto;
}
