/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--grey-light-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--black-color);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  top: 0;
  font-size: 36px;
}

.sidebar .menu__component {
  margin-left: 50px;
}

.sidebar #menu__components .login__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.sidebar #menu__components .login__info .login__info__img img {
  width: var(--avatar-size);
  height: var(--avatar-size);
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
