:root {
  /* Color */
  --white-color: #f0f0f0;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --grey-darker-color: #707070;
  --charcoal-color: #333333;

  /* Size */
  --side-padding: 12px;
  --side-margin: 8px;
  --avatar-size: 48px;
  --logo-size: 36px;
  --icon-size: 24px;

  /* Font Size */
  --font-large: 2.0rem;
  --font-medium: 1.8rem;
  --font-small: 1.5rem;
  --font-micro: 1.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

#header__nav {
  align-items: center;
  background-color: var(--white-color);
  display: flex;
  height: 8%;
  justify-content: space-between;
  padding: var(--side-padding);
}

#header__nav #logo__container {
  align-items: center;
  display: flex;
  margin-left: var(--side-margin);
}

#header__nav #logo__container img {
  width: 80%;
}

#header__nav #logo__container h1 {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: var(--font-medium);
  font-weight: 300;
  margin-left: 8px;
}

#header__nav #logo__string {
  align-items: center;
  margin-left: var(--side-margin);
  display: flex;
}

#header__nav #logo__string li {
  list-style: none;
}

#header__nav #navbar__menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: var(--side-margin);
}

#header__nav #navbar__menu li {
  list-style: none;
  text-decoration: none;
}

#header__nav #navbar__toggleBtn img {
  height: 100%;
  width: 80px;
}

#header__nav #navbar__menu__list {
  display: none;
}

#header__nav #navbar__menu__list.active {
  display: flex;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--grey-light-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--black-color);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  top: 0;
  font-size: 36px;
}

.sidebar .menu__component {
  margin-left: 50px;
}

.sidebar #menu__components .login__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.sidebar #menu__components .login__info .login__info__img img {
  width: var(--avatar-size);
  height: var(--avatar-size);
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Slide show */
.main__slideshow__container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow__direction {
  width: var(--icon-size);
  height: var(--icon-size);
}

.mySlides {
  display: none;
  text-align: center;
}

.mySlides img {
  width: 100%;
  max-height: 1080px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev img, .next img {
  width: calc(2*var(--icon-size));
  height: calc(2*var(--icon-size));
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.main__slideshow__container .slideshow__dots {
  text-align: center;
  bottom: 18px;
  padding: 20px;
  position: absolute;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Second Navbar */
#second__navbar {
  background-color: var(--white-color);
  display: flex;
  height: 8%;
  justify-content: space-between;
  padding: var(--side-padding);
  position: sticky;
  top: 0;
}

#second__navbar #left__icons {
  display: flex;
  align-items: center;
}

#top__scroll__btn img {
  width: 4rem;
  height: 4rem;
  margin: var(--side-margin);
}

#ordering__select {
  width: 12rem;
  height: 3rem;
  font-size: var(--font-medium);
  margin: calc(1.5 * var(--side-margin));
}

#ordering__select option {
  font-size: 8px;
}

#second__navbar__search {
  display: flex;
  align-items: center;
}

#second__navbar__search__input {
  width: 12rem;
  font-size: var(--font-medium);
  height: 3rem;
  margin: var(--side-margin);
}

#second__navbar__search__btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--white-color);
}

#second__navbar__search__btn img {
  width: 2rem;
  height: 2rem;
  margin: var(--side-margin);
}

/* Article */
#article__container article {
  border-bottom: var(--black-color) 1px solid;
  margin-bottom: var(--side-margin);
}

#article__container .article__img img {
  width: 100%;
}

#article__container .article__info {
  margin: var(--side-margin) 0;
}

#article__container .article__info img {
  width: 3rem;
  height: 3rem;
}

/* Article Info */
.heart__and__comment {
  display: flex;
  align-items: center;
  text-align: center;
}

.heart__and__comment p {
  margin-left: calc(1.3*var(--side-margin));
  font-size: var(--font-medium);
}

.heart__component, .comment__component {
  display: flex;
}

.heart__and__comment .comment__icon {
  margin-left: calc(2*var(--side-margin));
}

.article__author {
  font-size: var(--font-small);
}

#article__container .article__info .article__hashtag {
  display: flex;
  align-items: center;
}

#article__container .article__info .article__hashtag p {
  font-size: var(--font-small);
  margin: var(--side-margin);
  color: var(--blue-color);
}

#article__container .article__info .article__caption p {
  font-size: var(--font-small);
}

#article__container .horizontal__info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#article__container .left__component {
  width: 30%;
  margin-left: 5%;
}

#article__container .right__component {
  width: 60%;
  margin-left: 5%;
}

/* Upload Button */
#upload__btn__container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0; 
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 15%; 
  margin-right: 5%;
  border-radius: 50%;
  background-color: var(--white-color);
  overflow: hidden;
}

#upload__btn__container #upload__btn img {
  width: 2.8rem;
  height: 2.8rem;
}
